/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: PREPAREBEDFILE  {
        publishDir = [
            enabled: false
        ]
    }

    withName: FIRST_COMPRESS  {
        publishDir = [
            enabled: false
        ]
    }

    withName: TABIX_TABIX   {
        publishDir = [
            enabled: false
        ]
    }

    withName: BCFTOOLS_ADDROI {
        publishDir = [
            enabled: false
        ]
        ext.prefix = {
            "${meta.id}_roi_added"
        }
        ext.args = { [
            '--output-type z',
            '--columns CHROM,FROM,TO,ROI'
        ].join(' ').trim()   }
    }

        withName: BCFTOOLS_RMVROI {
        publishDir = [
            path: { "${params.outdir}/vcfs/tag_roi" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = { [
            '--output-type z',
            '-x INFO/ROI'
        ].join(' ').trim()   }
    }

    withName: FILTER_TAGROI {
        publishDir = [
            enabled: false
        ]
        ext.args = { [
            '--tag-mode fail',
        ].join(' ').trim() }
    }

        withName: SECOND_COMPRESS {
        publishDir = [
            enabled: false
        ]
        ext.prefix = {
            "${meta.id}_tmp"
        }
    }

        withName: TAGROI_INDEX {
        publishDir = [
            enabled: false
        ]
        ext.prefix = {
            "${meta.id}_tmp"
        }
    }
}
