/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: TRANSCRIPT_FILTER {
        publishDir = [
            path: { "${params.outdir}/vcfs/transcriptfiltered" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = { [
            '--only_matched',
            '--format vcf --soft_filter',
            (params.transcriptfilter)       ? "-f \"${params.transcriptfilter} exists\"" : '',
        ].join(' ').trim() }
    }

    withName: VEMBRANE_CREATE_TAGS {
        publishDir = [
            enabled: false
        ]
    }

    withName: VEMBRANE_TAG {
        publishDir = [
            path: { "${params.outdir}/vcfs/customfilters/tagged" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = { [
            '--annotation-key CSQ',
        ].join(' ').trim() }
    }

    withName: VEMBRANE_FILTER {
        publishDir = [
            path: { "${params.outdir}/vcfs/customfilters/filtered" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = { [
            '--annotation-key CSQ',
        ].join(' ').trim() }
    }
}
