/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: ENSEMBLVEP_VEP {
        publishDir = [
            path: { "${params.outdir}/vcfs/ensemblvep" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.prefix = {
            "${meta.id}.ann"
        }
        ext.args = { [
            '--format vcf --offline',
            (params.vep_cache_source)       ? "--${params.vep_cache_source}": '',
            (params.check_existing)         ? '--check_existing'            : '',
            (params.everything)             ? '--everything'                : '',
            (params.no_escape)              ? '--no_escape'                 : '',
            (params.flag_pick)              ? '--flag_pick'                 : '',
            (params.flag_pick_allele)       ? '--flag_pick_allele'          : '',
            (params.flag_pick_allele_gene)  ? '--flag_pick_allele_gene'     : '',
            (params.terms)                  ? "--terms ${params.terms}"     : '',
            (params.clin_sig_allele)        ? '--clin_sig_allele 1'         : '--clin_sig_allele 0',
            (params.exclude_null_alleles)   ? '--exclude_null_alleles'      : '',
            (params.no_check_alleles)       ? '--no_check_alleles'          : '',
            (params.var_synonyms)           ? '--var_synonyms'              : '',
            (params.vep_out_format)         ? "--${params.vep_out_format}"  : '--vcf',
        ].join(' ').trim() }
    }

    withName: TMB_CALCULATE  {
        publishDir = [
            path: { "${params.outdir}/reports/tmb" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = { [
            (params.min_af)                     ? "--min_AF ${params.min_af}"                           :   "",
            (params.max_af)                     ? "--max_AF ${params.max_af}"                           :   "",
            (params.min_cov)                    ? "--min_cov ${params.min_cov}"                         :   "",
            (params.max_popfreq)                ? "--popfreq_max ${params.max_popfreq}"                 :   "",
            (params.filter_muttype)             ? "--filter_muttype ${params.filter_muttype}"           :   "",
            (params.population_db)              ? "--population_db ${params.population_db}"             :   "--population_db 'CSQ_gnomADe_AF'",
            (params.prefilter_tmb)              ? "--prefilter_region"                                  :   "",
            (params.panelsize_threshold)        ? "--panelsize_threshold ${params.panelsize_threshold}" :   "",
        ].join(' ').trim()  }
    }


    withName: CHECKBEDFILE  {
        publishDir = [
            enabled: false
        ]
    }
}
