/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: BCFTOOLS_INDEX {
        publishDir = [
            enabled: false
        ]
        ext.args = { [
            '-t',
        ].join(' ').trim()   }
    }

    withName: SAMTOOLS_DICT {
        publishDir = [
            enabled: false
        ]
    }
    withName: SAMTOOLS_FAIDX {
        publishDir = [
            enabled: false
        ]
    }

    withName: DUMP_WARNINGS  {
        publishDir = [
            enabled: false,
        ]
    }

    withName: ENSEMBLVEP_VEP {
        ext.args = { [
            '--format vcf --offline',
            (params.vep_cache_source)       ? "--${params.vep_cache_source}": '',
            (params.check_existing)         ? '--check_existing'            : '',
            (params.everything)             ? '--everything'                : '',
            (params.no_escape)              ? '--no_escape'                 : '',
            (params.flag_pick)              ? '--flag_pick'                 : '',
            (params.flag_pick_allele)       ? '--flag_pick_allele'          : '',
            (params.flag_pick_allele_gene)  ? '--flag_pick_allele_gene'     : '',
            (params.terms)                  ? "--terms ${params.terms}"     : '',
            (params.clin_sig_allele)        ? '--clin_sig_allele 1'         : '--clin_sig_allele 0',
            (params.exclude_null_alleles)   ? '--exclude_null_alleles'      : '',
            (params.no_check_alleles)       ? '--no_check_alleles'          : '',
            (params.var_synonyms)           ? '--var_synonyms'              : '',
            (params.vep_out_format)         ? "--${params.vep_out_format}"  : '--vcf',
        ].join(' ').trim() }
    }

    withName: TMB_CALCULATE  {
        ext.args = { [
        (params.min_af)                     ? "--min_AF ${params.min_af}"                           :   "",
        (params.max_af)                     ? "--max_AF ${params.max_af}"                           :   "",
        (params.min_cov)                    ? "--min_cov ${params.min_cov}"                         :   "",
        (params.max_popfreq)                ? "--popfreq_max ${params.max_popfreq}"                 :   "",
        (params.filter_muttype)             ? "--filter_muttype ${params.filter_muttype}"           :   "",
        (params.population_db)              ? "--population_db ${params.population_db}"             :   "--population_db 'CSQ_gnomADe_AF'",
        (params.panelsize_threshold)        ? "--panelsize_threshold ${params.panelsize_threshold}" :   "",
        ].join(' ').trim()  }
    }

    withName: ENSEMBLVEP_FILTER {
        ext.args = { [
            '--only_matched',
            (params.transcriptfilter)       ? "-f \"${params.transcriptfilter} exists\"" : '',
        ].join(' ').trim() }
    }

    withName: VEMBRANE_CREATE_FIELDS {
        ext.args = { [
            '--other_fields CHROM,POS,ID,REF,ALT,QUAL,FILTER',
            (params.allele_fraction)        ? "--allele_fraction ${params.allele_fraction}" : '',
            (params.read_depth)             ? "--read_depth ${params.read_depth}"           : '',
            (params.format_fields)          ? "--format_fields ${params.format_fields}"     : '',
            (params.info_fields)            ? "--info_fields ${params.info_fields}"         : '',
            '--sampleindex 0',
        ].join(' ').trim() }
    }

    withName: VEMBRANE_VEMBRANETABLE {
        ext.args = { [
            '--annotation-key CSQ',
        ].join(' ').trim() }
    }

    withName: PREPROCESS_DATAVZRD {
        ext.args = { [
            '--ann_name_column identifier',
            '--ann_group_column group',
            '--identifiers chrom pos ref alt id feature',
        ].join(' ').trim() }
    }

    withName: DATAVZRD {
        ext.args = { [
            '--webview-url null',
        ].join(' ').trim() }
    }
}
