/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/reports/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VEMBRANE_CREATE_FIELDS {
        publishDir = [
            enabled: false
        ]
        ext.args = { [
            '--other_fields CHROM,POS,ID,REF,ALT,QUAL,FILTER',
            (params.allele_fraction)        ? "--allele_fraction ${params.allele_fraction}" : '',
            (params.read_depth)             ? "--read_depth ${params.read_depth}"           : '',
            (params.format_fields)          ? "--format_fields ${params.format_fields}"     : '',
            (params.info_fields)            ? "--info_fields ${params.info_fields}"         : '',
        ].join(' ').trim() }
    }

    withName: VEMBRANE_VEMBRANETABLE {
        publishDir = [
            path: { "${params.outdir}/reports/TSV" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = { [
            '--annotation-key CSQ',
        ].join(' ').trim() }
    }

    withName: PREPROCESS_DATAVZRD {
        publishDir = [
            enabled: false
        ]
        ext.args = { [
            '--ann_name_column identifier',
            '--ann_group_column group',
            '--identifiers chrom pos ref alt id feature',
        ].join(' ').trim() }
    }

    withName: DATAVZRD {
        publishDir = [
            path: { "${params.outdir}/reports/HTML" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = { [
            '--webview-url null',
        ].join(' ').trim() }
    }

    withName: DUMP_WARNINGS  {
        publishDir = [
            enabled: false,
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/reports/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
