/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: ENSEMBLVEP_VEP {
        ext.args = { [
            '--format vcf --offline',
            (params.vep_cache_source)       ? "--${params.vep_cache_source}": '',
            (params.check_existing)         ? '--check_existing'            : '',
            (params.everything)             ? '--everything'                : '',
            (params.no_escape)              ? '--no_escape'                 : '',
            (params.flag_pick)              ? '--flag_pick'                 : '',
            (params.flag_pick_allele)       ? '--flag_pick_allele'          : '',
            (params.flag_pick_allele_gene)  ? '--flag_pick_allele_gene'     : '',
            (params.terms)                  ? "--terms ${params.terms}"     : '',
            (params.clin_sig_allele)        ? '--clin_sig_allele 1'         : '--clin_sig_allele 0',
            (params.exclude_null_alleles)   ? '--exclude_null_alleles'      : '',
            (params.no_check_alleles)       ? '--no_check_alleles'          : '',
            (params.var_synonyms)           ? '--var_synonyms'              : '',
            (params.vep_out_format)         ? "--${params.vep_out_format}"  : '--vcf',
        ].join(' ').trim() }
    }

    withName: ENSEMBLVEP_FILTER {
        ext.args = { [
            '--only_matched',
            (params.transcriptfilter)       ? "-f \"${params.transcriptfilter} exists\"" : '',
        ].join(' ').trim() }
    }
}
