/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests with cio-abcd/cio_ci and settings for ukb
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'ukb_ci_test'
    config_profile_description = 'Test the whole workflow against cell line data with ukb settings'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '10.m'

    input  = '/opt/testdata_variantinterpretation/samplesheet.csv'

    // Genome references
    genome = 'GRCh38'
}
